* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}
@media all (max-width: 500px) {
  body {
    background-color: blue;
  }
}
body {
  background-color: var(--main-color);
  font-family: "Rubik", sans-serif;
}
:root {
  --main-color: #fdf2e9;
}

img {
  max-width: 100%;
  /* border: solid; */
  border-radius: 10px;
  margin: 0px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  border-radius: 5px;
}
h1 ,h2 {
  color: var(--main-color);
}

.nav {
  list-style: none;
  display: flex;
  background-color: #fdf2e9;
  font-size: 20px;
  border-radius: 5px;

}
.main-nav{

}
#logo {
  height: 50px;
  width: 50px;
}
.main-nav-link {
  text-decoration: none;
  color: #333;
  /* font-weight: 100px; */
  font-size: 20px;
}
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  /* border: solid; */
}

.card {
  border: solid;
  border-radius: 10px;
}
.columns-img {
  width: 100%;
  /* aspect-ratio: 1/1; */
}
.card-details {
  padding: 5px;
}

/* body {
  margin: 40px;
} */

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  position: relative;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header  header  header"
    "sidebar content content"
    "footer  footer  footer";
  background-color: var(--main-color)
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 50px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #999;
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}
